pandas
    numpy
    matplotlib
    seaborn
    biopython
    mermaid-py
    ipywidgets
    google-drive
    ipysheet
    ipydatagrid
    shinywidgets
    altair
    bokeh
    plotly 
    ipyleaflet 
    pydeck==0.8.0
    jupyterlite-pyodide-kernel
    jupyter-book>=2.0
    jupyter_server
    