pandas
numpy
biopython
mermaid-py
ipywidgets
scidownl
celltags
code_formatter
ipysheet
ipydatagrid
shinywidgets
altair
bokeh
plotly 
ipyleaflet 
pydeck==0.8.0
jupyterlite-pyodide-kernel
numpy
jupyter-book